@media (max-width: 1000px) {

    /* ORDER FORM */

    .order-form {
    height: auto;
    }
    
    /* FOOTER */

    .footer__wrap {
        height: auto;
    }

    .menu-company,
    .menu-info {
        flex: 1 0 50%;
    }

    .social-buttons {
        justify-content: center;
        padding-bottom: 50px;
    }
}

@media (max-width: 640px) {

    /* HEADER */

    .header__top {
        height: 100px;
    }

    /* ORDER FORM */

    .order-form {
        padding: 30px;
    }

    .form {
        flex-direction: column;
    }

    .input {
        width: 80%;
        margin: 0 auto 30px;
    }

    .order-form__button {
        width: 80%;
        margin: 0 auto;
    }

    /* FOOTER */

    .menu-contacts {
        flex: 1 0 100%;
    }
}

@media (max-width: 540px) {

    /* HEADER */

    .header__top img {
        width: 80px;
    }
    
    .header__menu-item:not(:last-child) {
        margin-right: 25px;
    }

    /* INTRO */

    .intro__title {
        font-size: 25px;
    }

    .intro__text {
        font-size: 16px;
    }

    /* FEATURES */

    .features__wrap {
        padding: 0;
    }

    /* STAY PRODUCTIVE */

    .stay-productive {
        margin-bottom: 80px;
    }

    .stay-productive__info {
        padding: 10px;
    }

    .stay-productive__info-title {
        font-size: 20px;
    }

    /* TESTIMONIALS */

    .testimonials__wrap {
        padding: 0;
        margin-bottom: 0;
    }

    .testimonials__item {
        min-height: auto;
        padding: 32px 24px 24px;
    }

    .testimonials__item-text {
        font-size: 12px;
    }

   /* ORDER FORM */

   .order-form {
        padding: 20px;
   }

   .order-form__title {
        font-size: 20px;
   }

   .order-form__text {
        margin: 0 0 20px;
    }

    .input {
        width: 100%;
        margin-bottom: 20px;
    }

    .order-form__button {
        width: 100%;
    }

    /* FOOTER */

    .footer__wrap {
        padding-top: 180px;
        padding-left: 0;
    }
    
    .social-buttons {
        flex-basis: 100%;
    }
}
