* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;

    font-family: 'Poppins', Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    color: #ffffff;

    background-color: #674baf;
    background-image: url(../images/bg-desktop.svg);
    background-size: 100%;
}

img {
    max-width: 100%;
    height: auto;
}

.container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;

    min-height: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 30px;
}

.main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.main__illustration {
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
}

.main__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: 50%;
    flex-basis: 50%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 60px;
}

.main__info-title {
    margin-bottom: 20px;
    font-size: 40px;
}

.main__info-text {
    margin-top: 0;
    margin-bottom: 24px;
}

.button {
    width: 200px;
    padding: 15px;

    font: inherit;
    color: #674baf;

    border: none;
    border-radius: 50px;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    -webkit-transition: background-color 0.3s;
    -o-transition: background-color 0.3s;
    transition: background-color 0.3s;
}

.button:hover {
    color: #ffffff;
    background-color: #6f4baf;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.footer svg {
    width: 40px;
    height: 40px;
    padding: 5px;
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 50px;
    -webkit-transition: color 0.3s;
    -o-transition: color 0.3s;
    transition: color 0.3s;
}

.footer svg:hover {
    color: #f052ca;
    border: 1px solid #f052ca;
    -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.footer a {
    margin-right: 16px;
}

.footer a:last-child {
    margin-right: 0;
}


/* medium screens */

@media (max-width: 1200px) {

    .header {
        padding: 30px 0 40px;
    }

    .main {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }

    .main__illustration {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        text-align: center;
    }

    .main__info {
        -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 0px;
        padding-bottom: 50px;
        text-align: center;
    }

    .main__info-title {
        margin-bottom: 20px;
        font-size: 26px;
    }

    .footer {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        padding: 50px 0;
    }

}


/* mobile devices */

@media (max-width: 375px) {

    body {
        font-size: 14px;
        background-image: url(../images/bg-mobile.svg);
    }

    .container {
        padding: 15px;
    }

    .header {
        padding: 0;
    }

    .logo {
        width: 150px;
    }

    .main__info {
        padding: 0;
    }

    .main__info-title,
    .main__info-text {
        margin-bottom: 10px;
    }

    .button {
        margin: 1em auto;
        padding: 8px;
        width: 70%;
    }

    .footer {
        padding: 0;
    }
}